
@{
    ViewData["Title"] = "Movie List";
}

@model List<MovieModel>

<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Title</td>
            <td>Category</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Year</td>
            <td>Edited</td>
            <td>LentTo</td>
            <td>Notes</td>
    </thead>


    <tbody>
        @foreach (var m in Model)
        {
        <tr>

            <td>@m.Title</td>
            <td>@m.Category.CategoryName</td>
            <td>@m.Director</td>
            <td>@m.Rating</td>
            <td>@m.Year</td>
            <td>@m.Edited</td>
            <td>@m.LentTo</td>
            <td>@m.Notes</td>
            <td><a asp-controller="Home" asp-action="Edit" asp-route-movieid="@m.MovieID">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-movieid="@m.MovieID">Delete</a></td>
        </tr>
        }
    </tbody>

</table>